html,
body {
  overscroll-behavior: contain;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

@media screen and (max-device-width: 768px) {
  .title {
    font-size: 5rem;
  }

  .label {
    font-size: 3rem;
  }

  #fastCheckbox {
    height: 32px;
    width: 32px;
  }

}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

#gc {
  border: 1px solid white;
  margin: 1rem;
}
